<div class = "all_posts">
	<div class = "header">
      <% if $types_of_posts.include?(@tag.name) %>
      <h1><%= @tag.name.capitalize %> </h1>
      <%else%>
		<h1>Posts Tagged with "<%= @tag.name %>"</h1>
	  <%end%>
		<hr>
	</div>
	<% if @tag.posts.count < 1 %>
		<div class = "no-posts-div">

		<br>
			<h5>There are currently no posts about <%=@tag.name%>...</h5>
		<br><br><br><br><br><br><br><br><br><br><br><br><br>
		<hr>
		</div>
	<%end%>
	<% @posts.each do |post| %>
		<div class = "container">
		<div class = "individual_post">
			<ul id="post">
		    <li style = "width: 70%; margin: auto;">
				<%= link_to post.title, post_path(post), class: 'post-title-link'%>
		    </li>
		    <li style = "font-size: 1.15vw;">
		    	<%=post.created_at.strftime('%b %d, %Y')%>
	    	</li>
		    <li>
		    <br>
	  	  	<% if !post.youtube_url.nil? && post.youtube_url.length > 0%>
		  	  	<div class="youtube-embed-container">  
							<%= embed(post.youtube_url) %>
						</div>
		    	<%elsif post.image.exists?%>
			    	<%= link_to image_tag(post.image.url), post_path(post)%>
		    	<%else%>	
			    	<%= link_to image_tag(post.url, class: "img_index"), post_path(post)%>
		    	<%end%>
	    	</li>	    
		  	<% if post.embed.length > 0 %>
		    	<li>
			    	<div style = "width: 50%; margin: auto;">
							<iframe width="90%" height="126" scrolling="no" frameborder="no" src="<%=post.embed%>"></iframe>
					</div>
		    	</li>
				<%end%>
				<%if post.body.length > 100%>	    		   
			    <li class = "body_excerpt">
			    	<br>
						<%= post.body.truncate_words(50)%><%=link_to "see more >>", post_path(post), class: 'post_more_link'%>
			    </li>
			    <%else%>
			    <li class = "small_body_excerpt">
			    	<br>
			    	<%=post.body%>
			    </li>
		    <%end%>
		    <br>
		    <li>
	    		<% if post.user_id %>
						<%= post.user.first_name.capitalize + ' '%> 
				<%end%>
				<% if post.tags.exists?%>
					on 
					<%= raw post.tags.map(&:id).map { |t| link_to Tag.find(t).name, tag_path(t) }.join(', ') %>
				<%end%>
			<br>
			<%if current_user && current_user.admin %>
			Clicks: <%=post.countclicks %> | Rating: <%=post.rating%>
			<%end%>
		    </li>
		    <li>
		  </ul>
	  </div>
	  </div>
	  <br>
	<% end %>

	<span class = "paginate_links"><%= will_paginate @posts %></span>

<br>
</div>
