<div class = "all_posts">

<h1>Posts Tagged with <%= @tag.name %></h1>

  <% @tag.posts.each do |post| %>
		<div class = "individual_post">
			<ul id="post">
		    <li>
					<%= link_to post.title, post_path(post), class: 'post_title_link'  %>
		    </li>
		    <li>		    
			  	<% if post.image.exists?%>
			    	<%= link_to image_tag(post.image.url), post_path(post)%>
	    		<%else%>
			    	<%= link_to image_tag(post.url), post_path(post)%>
		    	<%end%>
	    	</li>	
		  	<% if post.embed.length > 0 %>
	    	<li>
		    	<div style = "width: 50%; margin: auto;">
						<iframe width="100%" height="166" scrolling="no" frameborder="no" src="<%=post.embed%>"></iframe>
					</div>
	    	</li>
				<%end%>	    		   
		    <li>
					<%= post.body %>
		    </li>
		  </ul>
		</div>
	  <br>
  <% end %>
<%= link_to "All Tags", tags_path%>
<br>	  
<%= link_to "Back To Home", posts_path%>

</div>
