<%= form_for @post, :html => {:class => "col s9"} do |f|%>
  <ul>
  	<% @post.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  	<% end %>
  </ul>
  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label "Description" %><br/>
    <%= f.text_area :body %>
  </p>
  <p class="text-upload">
    <%= f.label "Picture URL" %><br/>
    <%= f.text_field :url %>  
  </p>
  <p class="video-upload">
    <%= f.label "Youtube URL" %><br/>
    <%= f.text_area :youtube_url %>  
  </p>
  <p class="song-upload">
    <%= f.label "Soundcloud Embedded URL" %><br/>
    <%= f.text_area :embed %>  
  </p>
  <p class="image-upload">
    <% if @post.image.exists? %>
    <%= image_tag @post.image.url(:medium) %><br/>
    <% end %>
    <%= f.label :image, "Attach an image" %><br />
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.label :tag_list %><br />
    <%= f.text_field :tag_list %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
    <%= button_tag "Reset Fields", type: :reset %>
  </p>
<% end %>
