<div class = "all_posts">
	<div class = "header" >
	<br>
		<h1 style = "color: #A5AAAC; padding-left: 13px; font-weight: bold; background-color: white; padding-top: 5px; margin: auto; border-radius: 4px; width: 60%">Blogger's Favorites</h1>
		<br>
		<br>
	</div>
	<% @posts.each do |post| %>
		<div class = "container">
		<div class = "individual_post">
			<ul id="post">
		    <li class = "title_excerpt">
				<%= link_to post.title, post_path(post), class: 'post-title-link'%>
		    </li>
		    <li class = "title_excerpt" style = "font-size: 1.15vw;">
		    	<%=post.created_at.strftime('%b %d, %Y')%>
	    	</li>
<!-- 		    <li>
		    <br>
	  	  	<%# if !post.youtube_url.nil? && post.youtube_url.length > 0%>
		  	  	<div class="youtube-embed-container">  
							<%#= embed(post.youtube_url) %>
				</div>
		    	<%#elsif post.image.exists?%>
			    	<%#= link_to image_tag(post.image.url), post_path(post)%>
		    	<%#else%>	
			    	<%#= link_to image_tag(post.url, class: "img_index"), post_path(post) %>
		    	<%#end%>
	    	</li> -->
	  	  	<% if !post.youtube_url.nil? && post.youtube_url.length > 0%>
	  	  	<li class = "youtube-li">
	  	  		<br>
		  	  	<div class="youtube-index-embed-container">  
					<%= embed(post.youtube_url) %>
				</div>
			</li>
			<%end%>

		  	<% if post.embed.length > 0 %>
		  	<br>
		    	<li class = "title_excerpt">
					<iframe width="60%" height="126" scrolling="no" frameborder="no" src="<%=post.embed%>"></iframe>
		    	</li>
				<%end%>
				<%if post.body.length > 100%>	    		   
			    <li class = "body_excerpt">
			    	<br>
			    	<%if post.embed.length > 0%>
			    		<strong>Music: </strong>
			    	<%else%>
			    		<strong>Mind: </strong>
		    		<%end%>
						<%= post.body.truncate_words(100)%><%=link_to "see more >>", post_path(post), class: 'post_more_link'%>
			    </li>
			    <%else%>
			    <li class = "small_body_excerpt">
			    	<br>
			    	<%if post.embed.length > 0%>
			    		<strong>Music: </strong>
			    	<%else%>
			    		<strong>Mind: </strong>
		    		<%end%>
			    	<%=post.body%>
			    </li>
		    <%end%>
		    <br>
		    <li class = "title_excerpt" style = "font-size: 1.3vw;">
	    		<% if post.user_id %>
						<%= post.user.first_name.capitalize + ' '%> 
				<%end%>
				<% if post.tags.exists?%>
					on 
					<%= raw post.tags.map(&:id).map { |t| link_to Tag.find(t).name, tag_path(t) }.join(', ') %>
				<%end%>
			<br>
			<%if current_user && current_user.admin %>
			Clicks: <%=post.countclicks %> |
			<%end%>
			Rating: <%=post.rating%>/10
		    </li>
		  </ul>
	  </div>
	  </div>
	  <br>
	<% end %>

</div>