<div class = "all_posts">
	<div class = "header">
		<h1 style = "margin-right: 30px;">M & M</h1>
		<hr>
	</div>	
	<% @posts.each do |post| %>
		<div class = "container">
		<div class = "individual_post">
			<ul id="post">
		    <li>
					<%= link_to post.title, post_path(post), class: 'post-title-link'%>
		    </li>
		    <li>
		    <br>
	  	  	<% if !post.youtube_url.nil? && post.youtube_url.length > 0%>
		  	  	<div class="youtube-embed-container">  
							<%= embed(post.youtube_url) %>
						</div>
		    	<%elsif post.image.exists?%>
			    	<%= link_to image_tag(post.image.url), post_path(post)%>
		    	<%else%>	
			    	<%= link_to image_tag(post.url), post_path(post)%>
		    	<%end%>
	    	</li>	    
		  	<% if post.embed.length > 0 %>
		    	<li>
			    	<div style = "width: 50%; margin: auto;">
							<iframe width="100%" height="166" scrolling="no" frameborder="no" src="<%=post.embed%>"></iframe>
						</div>
		    	</li>
				<%end%>
				<%if post.body.length > 100%>	    		   
			    <li class = "body_excerpt">
			    	<br>
						<%= post.body.truncate_words(50)%><%=link_to "see more", post_path(post), class: 'post_more_link'%>
			    </li>
			    <%else%>
			    <li class = "small_body_excerpt">
			    	<br>
			    	<%=post.body%>
			    </li>
		    <%end%>
		    <br>
		    <li>
	    		<% if post.user_id %>
						<%= post.user.first_name.capitalize + ' ' + post.user.last_name.capitalize%> 
		  			<% if post.tags.exists?%>
							on 
				  		<% post.tags.each do |tag| %>
				  			<%= link_to tag.name, tag_path(tag) %>
				  		<% end %>
						<%end%>
					<%end%>
					| Posted on: <%=post.created_at.strftime('%b %d, %Y')%>
					<br>
					Clicks: <%=post.countclicks %>
		    </li>
		    <li>
		  </ul>
	  </div>
	  </div>
	  <br>
	<% end %>

	<span class = "paginate_links"><%= will_paginate @posts %></span>

		<%= link_to "Tags", tags_path%>
			<br>
		<%= link_to "Create a New Post", new_post_path%>
			<br>
		<% if current_user.admin %>
			<%= link_to "Users", users_path%>
		<%end%>
			<br>
			
	<!-- Creating links to dates -->
	<% array_of_dates = [] %>
		<% @posts.each do |post| %>
			<%array_of_dates << post.created_at.strftime('%b %Y')%>
		<%end%>
	<% array_of_dates = array_of_dates.uniq{|x| x}%>
	<% array_of_dates.reverse.each do |date|%>
		<%= link_to date, root_path%>
	<%end%>	
	<!-- link to most popular posts -->
	<%= link_to "Most Popular Posts", popular_path%>
</div>
