<!DOCTYPE html>
<html>
<head>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Mind & music</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'http://ipadapps4school.com/wp-content/uploads/2014/12/the-light-bulb-349400_640.png' %>
</head>
<body>

<!-- Nav links -->
<!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <% if !@home_page%>
      <li><a class= "home-link" href="/posts">Home</a><li>
    <% end %>
    <!-- link to most popular posts (shows the top 5 most clicked on posts)-->
    <% if !@popular_page%>
      <li><%= link_to "Most Popular", popular_path%></li>
    <% end %>
    <!-- link to my favorite/most interesting posts (shows the top 5 posts by rating, which I create when I make a post)-->
    <% if !@favorite_page%>
      <li><%= link_to "Author's Choice", favorite_path%></li>
    <% end %>
    <!-- Setting an array equal to the links I want to have then iterating through tags and creating a link in navbar if the tag name is equal to the strings from array-->
    <% @tags.each do |tag| %>
    <% $types_of_posts = ["books", "articles", "videos"] %>

      <% if $types_of_posts.include?(tag.name) %>
        <li><%= link_to tag.name.capitalize, tag_path(tag), class: 'post_title_link'  %></li>
      <%end%>
    <% end %>
    
    <% if !@alltags_page %>
      <li><%= link_to "All Tags", tags_path%></li>
    <%end%>
    
    <% if current_user && current_user.admin %>
      <li class><%= link_to "See Users", users_path%></li>
      <li><%= link_to "New Post", new_post_path%></li>  
    <%end%>
  </ul>
  <nav class = "navigation">
    <div class="nav-wrapper">
      <a class= "home-link" href="/posts" class="brand-logo">M & M (Under Construction)</a>
      <ul class="right hide-on-med-and-down">
        <% if current_user %> 
            <li><%= link_to current_user.username, user_path(current_user) %></li> 
            <li><%= link_to "Log out", logout_path, method: "delete" %></li> 
        <% else %> 
            <li><%= link_to "Login", 'login' %></a></li> 
            <li><%= link_to "Signup", 'signup' %></a></li> 
        <% end %>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>
        

<p class="flash"><%= flash.notice %></p>

<%= yield %>

<script>
$('.dropdown-button').dropdown({
  inDuration: 300,
  outDuration: 225,
  constrain_width: true, // Does not change width of dropdown to that of the activator
  hover: true, // Activate on hover
  gutter: 0, // Spacing from edge
  belowOrigin: false // Displays dropdown below the button
}
);
</script>
<br>
<footer class="page-footer" id = "page-footer-override">
  <div class="container">
    <div class="row">
      <div class="col l8 s12" id = "learnmore-override">
        <h5 class="white-text">Mind & Music:</h5>
        <p class="white-text text-lighten-4">This blog was created in order to highlight the author's interests in data and the future of global business and innovation. To complement and enrich these thoughts, the author provides his readers with a variety of carefully chosen music.</p>
      </div>
      <div class="col l2 offset-l2 s12">
        <h5 class="white-text">Learn More</h5>
        <ul>
          <li><a class="white-text text-lighten-3" id = "footer-links" href="/about">About Me</a></li>
          <li><a class="white-text text-lighten-3" id = "footer-links" href="mailto:mfbeek@gmail.com">Contact Me</a></li>
          <li><a class="white-text text-lighten-3" id = "footer-links" href="https://soundcloud.com/mind-music">Soundcloud</a></li>

        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright" id = "footer-copyright-override">
    <span style = "padding-left: 10px;">© 2015 Created by Matias Beeck</span>
  </div>
</footer>
</body>
</html>
