<!DOCTYPE html>
<html>
<head>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Mind & music</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'http://ipadapps4school.com/wp-content/uploads/2014/12/the-light-bulb-349400_640.png' %>
</head>
<body>

<nav class = "nav">
  <ul id="slide-out" class="side-nav">
    <%# if !@home_page%>
    <li><a href="/posts">Home</a><li>
    <%# end %>
    <!-- Setting an array equal to the links I want to have then iterating through tags and creating a link in navbar if the tag name is equal to the strings from array-->
    <% @tags.each do |tag| %>
      <% $types_of_posts = ["books", "articles", "videos", "music"] %>

        <% if $types_of_posts.include?(tag.name) %>
          <li><%= link_to tag.name.capitalize, tag_path(tag), class: 'post_title_link'  %></li>
        <%end%>
    <% end %>

    <!-- link to most popular posts (shows the top 5 most clicked on posts)-->
    <% if !@popular_page%>
      <li><%= link_to "Most Popular", popular_path%></li>
    <% end %>
    <!-- link to my favorite/most interesting posts (shows the top 5 posts by rating, which I create when I make a post)-->
    <% if !@favorite_page%>
      <li><%= link_to "Author's Choice", favorite_path%></li>
    <% end %>
    
    <% if !@alltags_page %>
      <li><%= link_to "All Tags", tags_path%></li>
    <%end%>
    
    <%# if current_user && current_user.admin %>
<!--       <li class><%#= link_to "See Users", users_path%></li>
 -->    <%#end%>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse show-on-large" id="hamburger-button"><i class="mdi-navigation-menu"></i></a>
  <span id="logo"><a href="/posts">M & M</a></span>

  <% if current_user && current_user.admin %>
    <span id="newpost"><%= link_to "+ Add Post", new_post_path%></span>  
  <%end%>
  <% if current_user %> 
    <span style = "float: right" id="usernav"><%= link_to "logout", logout_path, method: "delete" %></span>
    <span style = "float: right" id="navdivider"> | </span>
    <span style = "float: right" id="usernav"><%= link_to current_user.username.downcase, user_path(current_user) %></span> 
  <%end%>

</nav>

<p class="flash"><%= flash.notice %></p>

<%= yield %>

<script>
// Initialize collapse button
// $(document).ready(function(){
//   $('.sideNav').hide());

// });

// Hide sideNav
$('.button-collapse').sideNav('hide');
// Show sideNav
$('.button-collapse').sideNav('show');

$('.button-collapse').sideNav({
    menuWidth: 190, // Default is 240
  });


</script>
<br>
<footer class="page-footer" id = "page-footer-override">
  <div class="container">
    <div class="row">
      <div class="col l8 s12" id = "learnmore-override">
        <h5 class="white-text">About</h5>
        <p class="white-text text-lighten-4">This blog was created in order to highlight the author's interests in data and the future of global business and innovation. To complement and enrich these thoughts, the author provides his readers with a variety of carefully chosen music.</p>
      </div>
      <div class="col l2 offset-l2 s12">
        <h5 class="white-text">Learn More</h5>
        <ul>
          <li><a class="white-text text-lighten-3" id = "footer-links" href="/about">About Me</a></li>
          <li><a class="white-text text-lighten-3" id = "footer-links" href="mailto:mfbeek@gmail.com">Contact Me</a></li>
          <li><a class="white-text text-lighten-3" id = "footer-links" href="https://soundcloud.com/mind-music/likes">Soundcloud</a></li>

        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright" id = "footer-copyright-override">
    <span style = "color: white; padding-left: 10px;"><strong>Mind & Music</strong> © 2015</span>
  </div>
</footer>
</body>
</html>
